:root {
  --size: 20px;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#settings {
  display: none;
  /* display: block; */
  position: absolute;
  background-color: white;
  width: 400px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#status-bar {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  background-color: #3c2b2b;
  min-width: 400px;
}

#number-of-flags,
#time {
  font-family: 'Orbitron';
  color: #ee0a20;
  font-size: 32px;
  padding: 0 20px;
  align-self: center;
  width: 100px;
}

#result-icon {
  font-size: 40px;
  align-self: center;
  padding-bottom: 5px;
  width: 50px;
  height: 50px;
}

.field {
  line-height: 0;
}

#playfield {
  text-align: center;
}

.tile {
  display: inline-block;
  width: var(--size);
  height: var(--size);
  background-color: #c0c0c0;
  border: 2px solid black;
  border-color: white #808080 #808080 white;
  text-align: center;
  vertical-align: bottom;
  cursor: default;
  user-select: none;
  font-family: 'Ubuntu Mono';
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
}

.opened-tile {
  background-color: #c0c0c0;
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  border-bottom: none;
  border-right: none;
  padding: 1px 2px 2px 1px;
}

.exploded-tile {
  background-color: red;
}

.mine,
.flag {
  font-size: 16px;
  line-height: inherit;
}

.one   { color: #0000FF; }
.two   { color: #007F00; }
.three { color: #FF0000; }
.four  { color: #00007F; }
.five  { color: #7F0000; }
.six   { color: #007F7F; }
.seven { color: #000000; }
.eight { color: #7F7F7F; }

#button-wrapper {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 400px;
  margin: 0 auto;
  background-color: whitesmoke;
}

#show-settings-button,
#restart-button {
  background-color: #2c2cc2;
  border: none;
  padding: 12px 20px;
  width: 180px;
  color: white;
  font-size: 20px;
  border-radius: 4px;
}

#main-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}