:root {
  --size: 20px;
}

.field {
  line-height: 0;
}

.tile {
  display: inline-block;
  width: var(--size);
  height: var(--size);
  background-color: lightgray;
  border: 1px solid black;
  margin: 2px;
  text-align: center;
  vertical-align: bottom;
  cursor: default;
}
